

@import "reset";
@import "variable";

@mixin fontSize($value){
    @if $value == small{
        font-size: 30px;
    }
    @else if $value == large{
        font-size: 40px;
    }
}

header{
    // font-size: 30px;
    background-color: $header-bgcolor;
}

// nav style
nav{
    margin-top: 20px;
    ul{
        text-align: center;

        li{
            list-style: none;
            display: inline-block;  
            

            a{text-decoration: none;
                @include fontSize(large);
                display: inline-block;  
                background-color: rgb(168, 168, 153);
            padding: 10px 20px;
            
            }
            a:hover{
                background-color: azure;
            }
        }
    }
}
.btn{
    border: none;
   padding: 10px;
//    font-size: 15px;
   border-radius: 20px;
}
.click-btn{
    @extend .btn;
}
.reset-btn{
    @extend .btn;
}



@mixin para-style($size, $style) {
    font-size: $size;
    text-align: $style;
    margin: 10px
}

#about p{
    // @include para-style(25px, center);
}           
#service p{
    // @include para-style(20px, left);
}           


main{
    background-color: $main-bgcolor;
}
footer{
    background-color: $footer-bgcolor;
}